.App {
  text-align: center;
}

form{
  display: inline-block;
  padding: 20px;
  background-color: aqua;

}
form label{
  display: inline-block;
  width: 150px;
}

form div{
  margin: 15px;
}
.profilePicPreview{
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

nav{
  background-color:bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
}